@model AnlabMvc.Models.MailMessageModels.EditMailMessageModel

@{
    ViewBag.Title = "Edit Mail Message";
}

<div class="col">
    <form asp-action="FixEmail" method="post" asp-antiforgery="true" asp-id="@Model.Id">
        @Html.HiddenFor(a => a.OrderId)
        <div class="form-horizontal">
            <div class="form-group">
                <strong>Order Id</strong>
                <span>@Model.OrderId</span>
            </div>
            <div class="form-group">
                <strong>Mail Id</strong>
                <span>@Model.Id</span>
            </div>
            <div class="form-group">
                <strong>Failure Count</strong>
                <span>@Model.FailureCount</span>
            </div>
            @if ((Model.Sent != null && Model.Sent.Value == false) || Model.FailureCount > 2)
            {
                <div class="form-group">
                    <strong>Last Failure Reason</strong>
                    <span>@Model.FailureReason</span>
                </div>
            }
            <div class="form-group">
                <label asp-for="SendTo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SendTo" class="form-control" />
                    <span asp-validation-for="SendTo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Resend" class="col-md-2 control-label">Resend</label>
                <div class="col-md-10">
                    <select asp-for="Resend" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="Resend" class="text-danger"></span>
                </div>
            </div>
            @if (Model.Sent != null && Model.Sent.Value == false)
            {
                <div class="form-group">
                    <label asp-for="Unsend" class="col-md-2 control-label">Mark as Sent</label>
                    <div class="col-md-10">
                        <select asp-for="Unsend" class="form-control">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span asp-validation-for="Unsend" class="text-danger"></span>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
