@using AnlabMvc.Models.Roles
@model IList<AnlabMvc.Models.User.UserRolesModel>

@{
    ViewData["Title"] = "Admin Index";
}

<div class="col">
    <form asp-action="SearchAdminUser" method="get" asp-antiforgery="true">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Email of user</label>
                <div class="col-md-10">
                    <input id="id" name="id" class="form-control" placeholder="Search Existing User To Add"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </form>

    <table id="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Is Admin</th>
            <th>Is Lab User</th>
            <th>Is Reports</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a asp-action="EditAdmin" asp-route-id="@user.User.Id" class="btn btn-primary">Edit Roles</a>
                </td>
                <td>@user.User.Name</td>
                <td>
                    @user.User.Email
                    @if (user.User.Email.ToLower() != user.User.NormalizedUserName.ToLower())
                    {
                        <span> (@user.User.NormalizedUserName.ToLower())</span>
                    }
                </td>
                <td>@user.IsAdmin</td>
                <td>@user.IsLabUser</td>
                <td>@user.IsReports</td>
            </tr>
        }
        </tbody>
    </table>
</div>
    @section AdditionalStyles
        {
        @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    }

    @section Scripts
        {
        @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
        <script type="text/javascript">
            $(function () {
                $("#table").dataTable({
                    "sorting": [[3, "desc"], [4, "desc"], [5, "desc"], [2, "asc"]]
                });
            });
        </script>
    }
