@model IList<AnlabMvc.Models.User.UserRolesModel>

@{
    ViewData["Title"] = "Admin Index";
}

<h2>Admin Index</h2>


<table id="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Is Admin</th>
            <th>Is User</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @if (user.IsUser)
                {
                    <a class="btn btn-danger" asp-action="AddUserToRole" asp-route-userId="@user.User.Id" asp-route-role="User" asp-route-add="false">Remove from User Role</a>
                }
                else
                {
                    <a class="btn btn-default" asp-action="AddUserToRole" asp-route-userId="@user.User.Id" asp-route-role="User" asp-route-add="true">Add to User Role</a>
                }
                @if (user.IsAdmin)
                {
                    <a class="btn btn-danger" asp-action="AddUserToRole" asp-route-userId="@user.User.Id" asp-route-role="Admin" asp-route-add="false">Remove from Admin Role</a>
                }
                else
                {
                    <a class="btn btn-default" asp-action="AddUserToRole" asp-route-userId="@user.User.Id" asp-route-role="Admin" asp-route-add="true">Add to Admin Role</a>
                }

                
            </td>
            <td>@user.User.Name</td>
            <td>@user.User.Email</td>
            <td>@user.IsAdmin</td>
            <td>@user.IsUser</td>
        </tr>
    }
    </tbody>
</table>
@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript">
        $(function () {
            $("#table").dataTable({
                "sorting": [[2, "desc"]]
            });
        });
    </script>
}
