@model List<Anlab.Core.Domain.MailMessage>
@{
    ViewData["Title"] = "Mail Queue";
}

<div class="col">
<button id="collapsebutton" class="btn-hollow"><i class="glyphicon glyphicon-minus"></i> Collapse All</button>
<button id="expandbutton" class="btn-hollow"><i class="glyphicon glyphicon-plus"></i> Expand All</button>

<div style="margin-top:16px;">
<table id="table" cellpadding="0" class="row-border stripe order-column dt-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Status:</th>
            <th>Id</th>
            <th>To:</th>
            <th>Subject:</th>
            <th>Sent At:</th>
            <th>Message Body:</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var message in Model)
    {
        <tr>
            <td></td>
            <td>
                @if (message.Sent.HasValue)
                {
                    if (message.Sent.Value)
                    {
                        <i class="fa fa-check-circle" aria-hidden="true" title="Sent"></i>
                        @:Sent
                    }
                    else
                    {
                        <i class="fa fa-times-circle" aria-hidden="true" title="Failed"></i>
                        @:Failed
                    }
                }
                else
                {
                    <i class="fa fa-refresh" aria-hidden="true" title="Pending"></i>
                    @:Pending
                }
            </td>
            <td>@message.Order.Id</td>
            <td>@message.SendTo</td>
            <td>@message.Subject</td>
            <td>
                Created At: @message.CreatedAt.ToPacificTime().ToString("g")<br />
                @if (message.Sent.HasValue)
                {
                        @if (message.Sent.Value && message.SentAt.HasValue)
                        {
                            @:Sent At:
                            @message.SentAt.Value.ToPacificTime().ToString("g")
                        }
                        else
                        {
                            @:Error:
                            @message.FailureReason

                        }
                }
                else
                {
                    <br />
                }
            </td>
            <td>
                <a href="@Url.Action("ViewMessage",new { id = message.Id })" target="_blank">Open in a new window</a>
                <div class="panel-body">
                    @Html.Raw(message.Body)
                </div>
            </td>

        </tr>
    }

    </tbody>
</table>
    </div>
</div>
@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />
    <style>
        div.panel-body tr tr{
            background-color: transparent;
        }
        table {
            width: 100% !important;
        }
        table tbody{
            vertical-align: top;
        }
        i.fa-check-circle{
            color: #289616;
        }
        i.fa-times-circle{
            color: #db0a26;
        }
        i.fa-refresh{
            color: #2c8ba5;
        }
        footer{
            position: relative !important;
        }
    </style>

}
@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var table = $("#table").DataTable({
                "order": [[1, "desc"],[5,"desc"]],
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                responsive: true,
            });

            $("#collapsebutton").hide();
            $("#expandbutton").click(function () {
                table.rows({ page: "current" }).every(function () {
                    // If row has details collapsed
                    if (!this.child.isShown()) {
                        // Expand row details
                        table.settings()[0].responsive._detailsDisplay(this, false);
                    }
                });
                $("#expandbutton").hide();
                $("#collapsebutton").show();
            });

            $("#collapsebutton").click(function () {
                table.rows({page: "current"}).every(function () {
                    // If row has details expanded
                    if (this.child.isShown()) {
                        // Collapse row details
                        table.settings()[0].responsive._detailsDisplay(this, false);
                    }
                });
                $("#expandbutton").show();
                $("#collapsebutton").hide();
            });

        });
    </script>
}
