@model List<Anlab.Core.Domain.MailMessage>
@{
    ViewData["Title"] = "Mail Queue";
}

<div style="padding-bottom: 120px;">
@foreach (var message in Model)
{
    <div class="row">

        <div class="col whiteblock">

            <table>
                <tr>
                    <th>To: </th>
                    <td>
                        @message.SendTo
                    </td>
                </tr>
                <tr>
                    <th>Subject: </th>
                    <td>
                        @message.Subject
                    </td>
                </tr>
                <tr>
                    <th>Sent: </th>
                    <td>
                        @if (message.Sent.HasValue && message.Sent == true)
                        {
                            @message.SentAt.ToLocalTime();
                        }
                        else
                        {
                            @message.FailureReason
                        }

                    </td>
                </tr>
                <tr>
                    <th>Body:</th>
                    <td>
                        <div class="col">
                            <a href="#@message.Id" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                Expand
                            </a> |
                            <a href="ViewMessage/@message.Id" target="_blank">Open in new window</a>
                        </div>
                        <div class="collapse" id="@message.Id" aria-expanded="false" style="height: 0px;">
                           <div class="collapse-body"> @Html.Raw(@message.Body)
                            <br />
                               <a href="#@message.Id" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                                   Collapse
                               </a> |
                               <a href="ViewMessage/@message.Id" target="_blank">Open in new window</a>

                            </div>

                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
}

</div>
