@model List<Anlab.Core.Domain.MailMessage>
@{
    ViewData["Title"] = "Mail Queue";
}

<div class="col">
<button id="collapsebutton" class="btn-hollow"><i class="glyphicon glyphicon-minus"></i> Collapse All</button>
<button id="expandbutton" class="btn-hollow"><i class="glyphicon glyphicon-plus"></i> Expand All</button>

<div style="margin-top:16px;">
<table id="table" cellpadding="0" class="row-border stripe order-column">
    <thead>
        <tr>
            <th>Status:</th>
            <th>To:</th>
            <th>Subject:</th>
            <th>Sent At:</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var message in Model)
    {
        <tr>
            <td>
                @if (message.Sent.HasValue)
                {
                    if (message.Sent.Value)
                    {
                        <i class="fa fa-check-circle" aria-hidden="true" title="Sent"></i>
                        @:Sent
                    }
                    else
                    {
                        <i class="fa fa-times-circle" aria-hidden="true" title="Failed"></i>
                        @:Failed
                    }
                }
                else
                {
                    <i class="fa fa-refresh" aria-hidden="true" title="Pending"></i>
                    @:Pending
                }
            </td>
            <td>@message.SendTo</td>
            <td data-search="@message.Subject">@message.Subject<br />
                    <a data-toggle="collapse" href="#@message.Id" aria-expanded="true" aria-controls="@message.Id">Expand Body </a> |
                    <a href="@Url.Action("ViewMessage",new { id = message.Id })" target="_blank">Open in a new window</a>
                <div id="@message.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Raw(message.Body)
                    </div>
                    <a data-toggle="collapse" href="#@message.Id" aria-expanded="true" aria-controls="@message.Id">Collapse Body </a> |
                    <a href="@Url.Action("ViewMessage",new { id = message.Id })" target="_blank">Open in a new window</a>
                </div>
            </td>
            <td>
                Created At: @message.CreatedAt.ToPacificTime().ToString("g")<br />
                @if (message.Sent.HasValue)
                {
                        @if (message.Sent.Value && message.SentAt.HasValue)
                        {
                            @:Sent At:
                            @message.SentAt.Value.ToPacificTime().ToString("g")
                        }
                        else
                        {
                            @:Error:
                            @message.FailureReason

                        }
                }
                else
                {
                    <br />
                }
            </td>

        </tr>
    }

    </tbody>
</table>
    </div>
</div>
@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    <style>
        div.panel-body tr tr{
            background-color: transparent;
        }
        table tbody{
            vertical-align: top;
        }
        div.btn {
            margin: 10px 0px;
        }
        i.fa-check-circle{
            color: #289616;
        }
        i.fa-times-circle{
            color: #db0a26;
        }
        i.fa-refresh{
            color: #2c8ba5;
        }
    </style>

}
@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript">
        $(function() {
            $("#table").dataTable({
                "order": [[0, "desc"],[3,"desc"]],
                "columnDefs": [
                    {
                        "type": "ordering", "targets": [0,1,2,3]
                    },
                    {
                        "width": "55%", "targets":[2]
                    }
                ]
            });

            $("#collapsebutton").hide();
            $("#expandbutton").click(function () {
                $('div.panel-collapse').collapse("show");
                $("#expandbutton").hide();
                $("#collapsebutton").show();
            });

            $("#collapsebutton").click(function () {
                $('div.panel-collapse').collapse("hide");
                $("#expandbutton").show();
                $("#collapsebutton").hide();
            });

        });
    </script>
}
