@using Anlab.Core.Models
@using Humanizer
@model AnlabMvc.Models.Order.OrderResultsModel

@{
    ViewData["Title"] = "Results for Work Request " + Model.OrderReviewModel.Order.RequestNum;
}
@section ActionButtons
    {
    <p>
        @if (Model.ShowCreditCardPayment)
        {
            <form action="@Model.CyberSourceUrl" method="post" autocomplete="off" style="margin-right: 3px">
                @foreach (var pair in Model.PaymentDictionary)
                {
                    <input type="hidden" name="@pair.Key" value="@pair.Value" />
                }
                <input type="hidden" name="signature" value="@ViewBag.Signature" />
                <button type="submit" class="btn btn-primary showTooltip" aria-hidden="true" title="You must pay before you can download your results."><i class="fa fa-credit-card" aria-hidden="true"></i> @(string.Format("{0:C}", Model.OrderReviewModel.OrderDetails.GrandTotal)) Pay Now</button>
            </form>
        }
        else
        {
            if (!Model.OrderReviewModel.Order.Paid)
            {
                @*<form asp-controller="Results" asp-action="ConfirmPayment" method="post" autocomplete="off" style="margin-right: 3px">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.OrderReviewModel.Order.ShareIdentifier"/>
                        <button type="submit" class="btn btn-primary" aria-hidden="true"><i class="fa fa-money" aria-hidden="true"></i> Confirm Payment</button>
                    </form>*@
                <a class="btn btn-small showTooltip" asp-action="ConfirmPayment" asp-route-id="@Model.OrderReviewModel.Order.ShareIdentifier" style="margin-right: 3px" title="You must confirm payment before you can download your results.">
                    <i class="fa fa-money" aria-hidden="true"></i> Confirm Payment
                </a>
            }
        }
        @if (Model.OrderReviewModel.Order.Paid)
        {
            <a class="btn btn-small showTooltip" asp-action="Download" asp-route-id="@Model.OrderReviewModel.Order.ShareIdentifier" style="margin-right: 3px" title="Click here to download your results.">
                <i class="fa fa-download" aria-hidden="true"></i> Download
            </a>
            @if (Model.OrderReviewModel.Order.PaymentType == PaymentTypeCodes.CreditCard)
             {
                <a class="btn btn-small showTooltip" asp-action="Receipt" asp-route-id="@Model.OrderReviewModel.Order.ShareIdentifier" style="margin-right: 3px" title="Click here for a Printable Credit Card Receipt page.">
                    <i class="fa fa-recycle" aria-hidden="true"></i> CC Receipt
                </a>
             }
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Copy" asp-controller="Order" method="post" autocomplete="off" style="margin-right: 3px">
                    <input type="hidden" name="id" value="@Model.OrderReviewModel.Order.ShareIdentifier" />
                    <button type="submit" class="btn btn-primary showTooltip" aria-hidden="true" title="Use this order to create a new order."><i class="fa fa-files-o" aria-hidden="true"></i> Duplicate</button>
                </form>
            }
            else
            {
                <button id="sign-in" class="btn btn-primary showTooltip" aria-hidden="true" title="Use this order to create a new order. But you must sign in first."><i class="fa fa-files-o" aria-hidden="true" style="margin-right: 3px"></i> Duplicate</button>

            }
        }
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="SaveLink" asp-controller="Order" method="post" autocomplete="off">
                <input type="hidden" name="id" value="@Model.OrderReviewModel.Order.ShareIdentifier" />
                <button type="submit" class="btn btn-primary showTooltip" aria-hidden="true" title="Save this order in your Saved Orders for easy access in the future."><i class="fa fa-save" aria-hidden="true"></i> Save Link</button>
            </form>
        }
        else
        {
            <button id="sign-in-to-save" class="btn btn-primary showTooltip" aria-hidden="true" title="Save this order in your Saved Orders for easy access in the future.  But you must sign in first."><i class="fa fa-files-o" aria-hidden="true"></i> Save Link</button>
        }



    </p>
}




<div class="col">
    @if (Model.ShowCreditCardPayment)
    {
        <div class="alert alert-danger noprint">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <form action="@Model.CyberSourceUrl" method="post" autocomplete="off" style="display: inline-block">
                @foreach (var pair in Model.PaymentDictionary)
                {
                    <input type="hidden" name="@pair.Key" value="@pair.Value" />
                }
                <input type="hidden" name="signature" value="@ViewBag.Signature" />
                <button type="submit" class="btn-link" aria-hidden="true">Click here to pay,</button>
            </form>or use the Pay Now button in the upper right before you can download your results.
        </div>
    }
    else
    {
        if (!Model.OrderReviewModel.Order.Paid)
        {
            <div class="alert alert-danger noprint">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <a asp-action="ConfirmPayment" asp-route-id="@Model.OrderReviewModel.Order.ShareIdentifier">Click here to confirm payment,</a> or use the Confirm Payment button in the upper right before you can download your results.
            </div>
        }
    }
    @if (Model.OrderReviewModel.Order.Paid)
    {
        <div class="alert alert-warning noprint">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <a asp-action="Download" asp-route-id="@Model.OrderReviewModel.Order.ShareIdentifier">Click here to Download your results,</a> or use the Download button in the upper right.
        </div>
    }


    @Html.Partial("_OrderDetails", Model.OrderReviewModel)

</div>


@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    @Html.Partial("_PrintStyle") 
}
@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
        $("#sign-in").on("click",
            function() {
                alert("Please sign in first to duplicate the order");
            });
        $("#sign-in-to-save").on("click",
            function() {
                alert("Please sign in first to save this order to your favorites");
            });
    </script>

    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $(".showTooltip").tooltip();
        });
    </script>

    @Html.Partial("_PrintScript")
}
