@model Anlab.Core.Domain.User


<div class="form-group">
    <strong>First Name</strong>
    <span>@Model.FirstName</span>
</div>
<div class="form-group">
    <strong>Last Name</strong>
    <span>@Model.LastName</span>
</div>
<div class="form-group">
    <strong>Display Name</strong>
    <span>@Model.Name</span>
</div>
<div class="form-group">
    <strong>Phone Number</strong>
    <span>@Model.Phone</span>
</div>
<div class="form-group">
    <strong>Client Id</strong>
    <span>@Model.ClientId</span>
</div>
<div class="form-group">
    <strong>UC Account (if applicable)</strong>
    <span>@Model.Account</span>
</div>
