@model AnlabMvc.Models.Reviewer.ReviewerTotalModel
@{
    ViewData["Title"] = "Totals";
}
<div class="col">
    <form asp-action="Totals">
        <table id="table-filter" border="0" cellspacing="5" cellpadding="5" align="left">
            <tbody>
                <tr>
                    <td><label asp-for="fStart" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="fEnd" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="cStart" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="cEnd" class="col-md-2 control-label"></label></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input asp-for="fStart" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="fEnd" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="cStart" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="cEnd" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input type="submit" value="Apply" class="btn btn-default" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    <table id="table" class="table">
        <thead>
            <tr>
                <th>Work Req #</th>
                <th>Id</th>
                <th>ClientId</th>
                <th>Payment Type</th>                
                <th>Created</th>
                <th>Finalized</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                var orderDetails = order.GetOrderDetails();
                <tr>
                    <td>@order.RequestNum</td>
                    <td>@order.Id</td>
                    <td>@order.ClientId</td>
                    <td>@order.PaymentType</td>
                    <td>@order.Created.ToPacificTime().ToString("g")</td>
                    <td>@order.DateFinalized.Value.ToPacificTime().ToString("g")</td>
                    <td>@order.Status</td>
                    <td>@orderDetails.GrandTotal.ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" style="text-align:right">Displayed Total:</td>
                <td></td>
            </tr>
            <tr>
                <td class="hide-line" colspan="7" style="text-align: right">Total:</td>
                <td class="hide-line"></td>
            </tr>

        </tfoot>
    </table>
</div>


@section AdditionalStyles
    {
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />

    <style>
        .hide-line {
            border: none !important;
            border-bottom: 1px solid !important;
        }
        .datepicker-input {
            margin: 0 5px 5px 0;
            height: 30px;
        }
    </style>
}

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
            $("#table").DataTable({
                "sorting": [[6, "desc"]],
                "columnDefs": [
                    {
                        "type": "date", "targets": [4, 5]
                    }
                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    var total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    var pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html('$' + pageTotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $('tr:eq(1) td:eq(1)', api.table().footer()).html('$' + total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));

                }
            });
        });
    </script>
}
