@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Confirmation";
}
<div class="col">
    @Html.Partial("_OrderDetails")
    <form id="form" asp-controller="Lab" asp-action="Confirmation" asp-route-id="@Model.Order.Id" method="post">
        @Html.Hidden("confirm", true)
        <div class="form-group">
            <span>Add Lab Comments</span>
            <textarea class="form-control" name="LabComments"></textarea>
            <span>Adjust Final Total:</span>
            <input type="hidden" class="form-control" id="prevTotal" value="@Model.OrderDetails.Total" />
            <input type="text" class="form-control" id="GrandTotal" value="@Model.OrderDetails.Total" autocomplete="off" />
            <div>Current Total: $@Model.OrderDetails.Total</div>
            <div>Adjustment Amount: $<span id="adjustAmt">@Model.OrderDetails.AdjustmentAmount</span></div>
            <input type="hidden" class="form-control" id="adjustmentAmount" name="AdjustmentAmount" value="0" />
        </div>
        @Html.Hidden("bypassEmail", false)
        <button class="btn btn-primary" id="submit-with-bypass" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Confirm Received without Email</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Confirm Received</button>
        <a asp-action="AddRequestNumber" asp-route-id="@Model.Order.Id"> Opps wrong one. Change it</a>
    </form>
</div>
@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $(".showTooltip").tooltip();
        });
    </script>

    <script type="text/javascript">
        $('#GrandTotal').on('keyup', function () {
            var prevTotal = $('#prevTotal').val();
            var grandTotal = $(this).val();
            if (grandTotal)
                var adjustAmt = parseFloat(grandTotal) - parseFloat(prevTotal);
            else
                var adjustAmt = 0;
            $('#adjustmentAmount').val(adjustAmt);
            $('#adjustAmt').html(adjustAmt);
        });
    </script>

    <script type="text/javascript">
        $("#submit-with-bypass").on("click",
            function() {
                $("#bypassEmail").val(true);
                $("#form").submit();
            });
    </script>

    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }

}
