@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Receive Work Order";
}
<div class="col">
    @Html.Partial("_OrderDetails")
    <form  asp-controller="Lab" asp-action="AddRequestNumber" asp-route-id="@Model.Order.Id" method="post">
        @Html.Hidden("confirm", true)
        @Html.Hidden("requestNum", Model.Order.RequestNum)        
        <button type="submit" class="btn btn-info"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh From Labworks</button>
    </form>
    <div style="display: inline-block;">
    <form id="form" asp-controller="Lab" asp-action="Confirmation" asp-route-id="@Model.Order.Id" method="post">
        @Html.Hidden("confirm", true)
        <div class="form-group">
            <span>Add Lab Comments</span>
            <textarea class="form-control" name="LabComments"></textarea>
            <span>Adjust Final Total:</span>
            <input type="hidden" class="form-control" id="prevTotal" value="@Model.OrderDetails.Total" />            
            <input type="text" class="form-control" id="GrandTotal" value="@Model.OrderDetails.Total" autocomplete="off" />
            <div id="adj-comm" style="display: none">
                <span>Adjustment Comments</span>
                <input class="form-control" id="AdjustmentComments" name="AdjustmentComments" maxlength="100" value="@Model.OrderDetails.AdjustmentComments"/>
            </div>
            <div>Current Total: $@Model.OrderDetails.Total</div>
            <div>Adjustment Amount: $<span id="adjustAmt">@Model.OrderDetails.AdjustmentAmount</span></div>
            <input type="hidden" class="form-control" id="adjustmentAmount" name="AdjustmentAmount" value="0" />
        </div>
        @Html.Hidden("bypassEmail", false)
        <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Received and Send Email</button>
        <button class="btn btn-green" id="submit-with-bypass"><i class="fa fa-ban" aria-hidden="true"></i> Received without Email</button>
    </form>
    </div>
    <div style="display: inline-block;">
        <form asp-controller="Lab" asp-action="ClearRequestNumber" asp-route-id="@Model.Order.Id" method="post">
            <button type="submit" class="btn btn-danger">Oops wrong one. Clear It</button>
        </form>
    </div>
</div>
@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $(".showTooltip").tooltip();
        });
    </script>

    <script type="text/javascript">
        $('#GrandTotal').on('keyup',
            function() {
                var prevTotal = $('#prevTotal').val();
                var grandTotal = $(this).val();
                if (grandTotal) {
                    var adjustAmt = parseFloat(grandTotal) - parseFloat(prevTotal);
                } else {
                    var adjustAmt = 0;
                }
                $('#adjustmentAmount').val(adjustAmt);
                $('#adjustAmt').html(adjustAmt);
                if (adjustAmt === 0) {
                    $('#adj-comm').hide();
                } else {
                    $('#adj-comm').show();
                }
            });
    </script>

    <script type="text/javascript">
        $("#submit-with-bypass").on("click",
            function() {
                $("#bypassEmail").val(true);
                if ("#form".isValid) {
                    $("#form").submit();
                } else {
                    alert("Form isn't valid");
                }
            });
    </script>

    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }

}
