@model System.Collections.Generic.List<Anlab.Core.Domain.DisposalView>

@{
    ViewBag.Title = "Disposal List";
}


<div class="col">
    <form id="bulk-disposal-email" asp-action="GenerateDisposalEmails" method="post">
        @Html.Hidden("ids")

        <div class="form-group">
            <input type="submit" value="Generate Emails" class="btn btn-primary" />
        </div>
    </form>
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th>Work Req #</th>
                <th>Id</th>
                <th>ClientId</th>
                <th>Email</th>
                <th>Additional Emails</th>
                <th>Lab SD</th>
                <th>Client SD</th>
                <th>Date Finalized</th>
                <th>Status</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disOrder in Model)
            {
                <tr  id="@disOrder.Id">
                    <td>@disOrder.RequestNum</td>
                    <td><a asp-controller="Admin" asp-action="MailQueue" asp-route-id="@disOrder.Id" target="_blank">@disOrder.Id</a></td>
                    <td>@disOrder.ClientId</td>
                    <td>@disOrder.Email</td>
                    <td>@disOrder.AdditionalEmails.Replace(";","; ")</td>
                    <td>@disOrder.LabworksSampleDisposition</td>
                    <td>@disOrder.SampleDisposition</td>
                    <td>@disOrder.DateFinalized.Value.ToPacificTime().ToString("g")</td>
                    <td>@disOrder.Status</td>
                    <td>@disOrder.EmailCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">

    <style>
        #table tbody tr {
            cursor: pointer;
        }
    </style>
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var table = $("#table").DataTable({
                select: {
                    style: 'os'
                },
                "sorting": [1, "desc"],
                "columnDefs": [
                    {
                        "type": "date", "targets" : [7]
                    }
                ],
                "iDisplayLength": 100,
                "stateSave": true,                
                "stateDuration": 60 * 60,
            });

            $("#bulk-disposal-email").submit(function () {
                var ids = $.map(table.rows('.selected').ids(),
                    function (item) {
                        return item;
                    });
                $("#ids").val(ids);

                if (!confirm("You are about to email these orders: " + ids)) {
                    event.preventDefault();
                }
            });

        });

    </script>
}

