@using Anlab.Core.Models
@using AnlabMvc.Models.Order
@model IList<Order>

@{
    ViewData["Title"] = "List User's Orders";
}


<table id="table">
    <thead>
    <tr>
        <th></th>
        <th>Created</th>
        <th>Updated</th>
        <th>Project</th>
        <th>Status</th>
        <th>Paid</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@order.Id"><i class="fa fa-eye"> Details</i></a>
                @if (order.Status == OrderStatusCodes.Confirmed)
                {
                    <a asp-action="Confirmation" asp-route-id="@order.Id"><i class="fa fa-check"> Receive</i></a>
                }
                @if (order.Status == OrderStatusCodes.Received)
                {
                    <a asp-action="Finalize" asp-route-id="@order.Id"><i class="fa fa-upload" style="color: red"> Finalize</i></a>
                }
                @if (order.Status == OrderStatusCodes.Complete)
                {
                    <a asp-controller="Results" asp-action="Link" asp-route-id="@order.ShareIdentifier"><i class="fa fa-download"> Results</i></a>
                }
            </td>
            <td>@order.Created.ToPacificTime().ToString("g")</td>
            <td>@order.Updated.ToPacificTime().ToString("g")</td>
            <td>@order.Project</td>
            <td>@order.Status</td>
            <td style="text-align: center">
                @if (order.Paid)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>

                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable({
                "sorting": [[1, "desc"]],
                "columnDefs": [
                    {
                        "type": "date", "targets" : [1,2]
                    },
                    {
                        "targets": [0],
                        "orderable": false
                    },

                ]
            });
        });
    </script>
}
