@using AnlabMvc.Models.Order;
@model IList<Order>
@{
    ViewData["Title"] = "Orders";
}

<table border="0" cellspacing="5" cellpadding="5" align="left">
    <tbody>
        <tr>
            <td><label>Minimum Date:</label></td>
            <td><label>Maximum Date:</label></td>
            <td><label>Status:</label></td>
        </tr>
        <tr>
            <td><input name="min" id="min" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
            <td><input name="max" id="max" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
            <td>
                <select name="status" id="status">
                    <option value="All">Show All</option>
                    <option value="Confirmed">Confirmed</option>
                    <option value="Received">Received</option>
                    <option value="Finalized">Finalized</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Complete">Complete</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

<table id="table">
    <thead>
    <tr>
        <th></th>
        <th>User</th>
        <th>ClientId</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Project</th>
        <th>Status</th> 
        <th>Paid</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@order.Id"><i class="fa fa-eye"> Details</i></a>
                @if (order.Status == OrderStatusCodes.Confirmed)
                {
                    <a asp-action="Confirmation" asp-route-id="@order.Id"><i class="fa fa-check"> Receive</i></a>
                }
                @if (order.Status == OrderStatusCodes.Received)
                {                 
                    <a asp-action="UpdateFromCompletedTests" asp-route-id="@order.Id"><i class="fa fa-upload" style="color: red"> Finalize</i></a>
                }
                @if (order.Status == OrderStatusCodes.Complete)
                {
                    <a asp-controller="Results" asp-action="Link" asp-route-id="@order.ShareIdentifier"><i class="fa fa-download"> Results</i></a>
                }
            </td>
            <td>@order.Creator.Email</td>
            <td>@order.ClientId</td>
            <td>@order.Created</td>
            <td>@order.Updated</td>
            <td>@order.Project</td>
            <td>@order.Status</td>
            <td style="text-align: center">
                @if (order.Paid)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>

                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />

    <style>
        #max, #min, #status {
            margin: 0 5px 5px 0;
            height: 30px;
        }
    </style>
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var table = $("#table").DataTable({
                "sorting": [[1, "desc"]],
                "columnDefs": [
                    {
                        "type": "date", "targets" : [3,4]
                    },
                    {
                        "targets": [0],
                        "orderable": false
                    }
                ],
                "stateSave": true,
                "stateDuration": 60 * 10,
            });


            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });

           //Event listener to the two range filtering inputs to redraw on input
            $('#min, #max, #status').change(function () {
                table.draw();
            });
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#min').datepicker("getDate");
                var max = $('#max').datepicker("getDate");
                var startDate = new Date(data[3]);
                startDate.setHours(0, 0, 0, 0);

                var status = data[6];
                var statusFilter = $('#status').val();

                if (statusFilter == "All" || status == statusFilter) {
                    if (min == null && max == null) { return true; }
                    if (min == null && startDate <= max) { return true; }
                    if (max == null && startDate >= min) { return true; }
                    if (startDate <= max && startDate >= min) { return true; }
                }
                return false;
            }
        );

    </script>
}
