@using Anlab.Core.Models
@using Humanizer
@model AnlabMvc.Models.Order.OverrideOrderModel
@{
    ViewData["Title"] = "Override Order";
}
<div class="col">
    @Html.Partial("_OrderDetails", @Model.OrderReviewModel)
    <form enctype="multipart/form-data" asp-controller="Lab" asp-action="OverrideOrder" asp-route-id="@Model.OrderReviewModel.Order.Id" method="post">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="col-md-2 control-label">Delete Order</label>
                <div class="col-md-10">
                    <select asp-for="IsDeleted" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Paid" class="col-md-2 control-label">Paid</label>
                <div class="col-md-10">
                    <select asp-for="Paid" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="Paid" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-md-2 control-label">Status</label>
                <div class="col-md-10">
                    <select asp-for="Status" class="form-control">
                        @foreach (var status in OrderStatusCodes.All)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                    <span asp-validation-for="Paid" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">@(string.IsNullOrWhiteSpace(Model.OrderReviewModel.Order.ResultsFileIdentifier) ? "Upload Results" : "Replace Results")</label>
                <div class="col-md-10">
                    <input id="UploadFile" type="file" class="form-control" name="UploadFile"/>
                </div>
            </div>

            <button type="submit" class="btn btn-danger"><i class="fa fa-warning" aria-hidden="true"></i> Override Order</button>
        </div>
    </form>
        <form asp-action="Copy" asp-controller="Order" method="post" autocomplete="off" style="margin-top: 3px">
            <input type="hidden" name="id" value="@Model.OrderReviewModel.Order.ShareIdentifier" />
            <input type="hidden" name="adminCopy" value="true" />
            <button type="submit" class="btn btn-primary showTooltip" aria-hidden="true" data-placement="right" title="This will duplicate the order in the confirmed status so it can be received right away. The creator will stay the same. Prices will be based off the order (old Prices)."><i class="fa fa-files-o" aria-hidden="true"></i> Admin Duplicate</button>
        </form>
</div>
@section AdditionalStyles
    {
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}
@section Scripts
    {
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>
    <script type="text/javascript">
        $('#GrandTotal').on('keyup', function () {
            var prevTotal = $('#prevTotal').val();
            var grandTotal = $(this).val();
            if (grandTotal)
                var adjustAmt = parseFloat(grandTotal) - parseFloat(prevTotal);
            else
                var adjustAmt = 0;
            $('#adjustmentAmount').val(adjustAmt);
            $('#adjustAmt').html(adjustAmt);
        });
        $('#UploadFile').on('change', function () {
            var upload = $("#UploadFile");
            var fullFileName = upload.val().replace(/^.*[\\\/]/, '').toUpperCase();
            var fileName = fullFileName.replace(/\.[^/.]+$/, "");
            var extension = fullFileName.split('.').pop();

            var error = "";
            if (extension !== 'XLS' && extension !== 'XLSX') {
                error = "Only XLS and XLSX files can be uploaded";
            }
            var expectedFileName = '@Model.OrderReviewModel.Order.RequestNum'.toUpperCase();
            if (fileName.indexOf(expectedFileName) === -1) {
                error = "File name did not include request number: " + "@Model.OrderReviewModel.Order.RequestNum";
            }
            upload[0].setCustomValidity(error);

        });
    </script>
    <script type="text/javascript">
        $(function() {
            $(".showTooltip").tooltip();
        });
    </script>
    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }
}
