@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Confirmation";
}

@Html.Partial("_OrderDetails")

<form method="post" asp-controller="Lab" enctype="multipart/form-data" asp-action="UpdateFromCompletedTests" asp-route-id="@Model.Order.Id" class="form-horizontal">
    
    <div class="form-group">
        <span>Upload Results</span>
        @if (string.IsNullOrWhiteSpace(Model.Order.ResultsFileIdentifier))
        {
            <input type="file" class="form-control" name="UploadFile"/>
        }
        else
        {
            <div>Results File Identifier: @Model.Order.ResultsFileIdentifier</div>
        }
        <span>Add Lab Comments</span>
        <textarea class="form-control" name="LabComments"></textarea>
        <span>Add Adjustment Amount</span>
        <input type="hidden" class="form-control" id="prevTotal" value="@Model.OrderDetails.Total"/>
        <input type="text" class="form-control" id="AdjustmentAmount" name="AdjustmentAmount"/>
        New Amount: $<span id="newTotal">@Model.OrderDetails.Total</span>
    </div>
    

    @Html.Hidden("Confirm", true)
    <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"> Confirm Completed (Update Tests from Labworks)</i></button>
</form>


<div class="form-group">
    <strong>json Data</strong>
    <span>@Model.Order.JsonDetails</span>
</div>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>

    <script type="text/javascript">
        $('#AdjustmentAmount').on('keyup', function () {
            var prevTotal = $('#prevTotal').val();
            var adjustAmt = $(this).val();
            if (adjustAmt)
                var totalCost = parseFloat(prevTotal) + parseFloat(adjustAmt);
            else
                var totalCost = prevTotal;
            $('#newTotal').html(totalCost);
        });
    </script>
                                                                  
    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }
}