@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Confirmation";
}

@Html.Partial("_OrderDetails")

<form asp-controller="Lab" asp-action="UpdateFromCompletedTests" asp-route-id="@Model.Order.Id" method="post" class="form-horizontal">
    
    <div id="image-container" class="form-group">
        <span>Upload Results</span>
        <input id="cover-image" type="file" class="form-control" accept="image/*" />
        <div class="progress">
            <div id="image-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
            </div>
        </div>
        
        <input id="imageUrl" type="hidden" name="imageUrl" value="@(Model.ResultsUrl ?? string.Empty)" required>
    </div>
    

    @Html.Hidden("confirm", true)
    <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"> Confirm Completed (Update Tests from Labworks)</i></button>
</form>


<div class="form-group">
    <strong>json Data</strong>
    <span>@Model.Order.JsonDetails</span>
</div>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $('#cover-image').change(function() {
                var filesToUpload = this.files;
                if (filesToUpload.length !== 1) return;

                var file = filesToUpload[0];

                //TODO: Excel only files?
                //if (!file.type.match(/image.*/)) {
                //    alert("only images, please");
                //}

                var fr = new FileReader();
                fr.onload = function() {
                    uploadFile(file);
                    

                    var xxx = fr.result;
                }
                fr.readAsDataURL(file); // I'm using a <input type="file"> for demonstrating
            });

            function uploadFile(file) {
                var formData = new FormData();
                formData.append("file", file);

                $('#image-progress').css('width', '10%').attr('aria-valuenow', 10).html(10 + '%');
                return $.ajax('/file/newfile', {
                        method: 'PUT',
                        processData: false,
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        xhr: function() {
                            if (window.XMLHttpRequest) {
                                var xhr = new window.XMLHttpRequest();

                                if (xhr.upload) {
                                    //Upload progress
                                    xhr.upload.addEventListener("progress", function(evt) {
                                        console.log(evt);
                                        if (evt.lengthComputable) {
                                            var percentComplete = Math.floor((evt.loaded / evt.total) * 100);

                                            if (percentComplete > 75) { //max out on 75% complete since we still have some server work to do
                                                percentComplete = 75;
                                            }

                                            $('#image-progress').css('width', percentComplete + '%').attr('aria-valuenow', percentComplete).html(percentComplete + '%');
                                        }
                                    }, false);
                                }
                                return xhr;
                            }
                            return null;
                        }
                    })
                    .then(function (result) {
                        console.log(result);
                        document.getElementById("cover-preview").src = result.url;
                        $("#imageUrl").val(result.url);
                        $('#image-progress').removeClass('active').css('width', '100%').attr('aria-valuenow', 100).html(100 + '%');
                    })
                    .fail(function (err) {
                        console.log(err);
                        alert("error");
                    });
            }
        });                                                         



    </script>
    
    

    
                                                                  }