@using Humanizer
@model Anlab.Core.Models.TestItemModel[]

@{
    ViewBag.Title = "Current Prices";
}

<div class="col">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Category)</th>
            <th>@Html.DisplayNameFor(model => model[0].Group)</th>
            
            <th>@Html.DisplayNameFor(model => model[0].Analysis)</th>
            @*<th>@Html.DisplayNameFor(model => model[0].Id)</th>*@
            <th>@Html.DisplayNameFor(model => model[0].InternalCost)</th>
            <th>@Html.DisplayNameFor(model => model[0].InternalSetupCost)</th>
            <th>@Html.DisplayNameFor(model => model[0].ExternalCost)</th>
            <th>@Html.DisplayNameFor(model => model[0].ExternalSetupCost)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.OrderBy(a => a.RequestOrder))
        {
            <tr>
                
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Group)</td>
                <td>@Html.DisplayFor(modelItem => item.Analysis)</td>
                @*<td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                <td>@Html.DisplayFor(modelItem => item.InternalCost)</td>
                <td>@Html.DisplayFor(modelItem => item.InternalSetupCost)</td>
                <td>@Html.DisplayFor(modelItem => item.ExternalCost)</td>
                <td>@Html.DisplayFor(modelItem => item.ExternalSetupCost)</td>
            </tr>
           
        }
        </tbody>
    </table>
</div>



@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }
    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({
                "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]]
            });
        });
    </script>
}
