@model List<AnalysisMethod>

@{
    ViewBag.Title = "Testing Services";
}
<div class="col">
    <div class="accordion" id="accordionAnalysis">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#water" aria-expanded="false" aria-controls="water">
                    Water and Waste Water
                </button>
            </h2>
            <div id="water" class="accordion-collapse collapse" data-bs-parent="#accordionAnalysis">
                <div class="accordion-body">
                    <h3>Method Summaries</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 800 && x.Id < 900))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#soil" aria-expanded="false" aria-controls="soil">
                    Soil Methods
                </button>
            </h2>
            <div id="soil" class="accordion-collapse collapse" data-bs-parent="#accordionAnalysis">
                <div class="accordion-body">
                    <p><strong>Containers: </strong>Submit samples in pint-size plastic containers or in bags (plastic or paper).</p>
                    <h3>Notes:</h3>
                    <p>Sodium Adsorption Ratio and Exchangeable Sodium Percent are calculations derived from analysis of Ca, Mg and Na.</p>
                    <p>To determine available N-P-K on California soils, we normally analyze for NO<sub>3</sub>-N, Olsen-P and Exchangeable K.</p>
                    <h3><a name="soil-salinity"></a>Soil Salinity</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 200 && x.Id < 300))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                    <h3><a name="soil-fertility"></a>Soil Fertility</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 300 && x.Id < 400))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                    <h3><a name="physio-chemical"></a>Physio-Chemical</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 400 && x.Id < 500))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#manure" aria-expanded="false" aria-controls="manure">
                    Manure and Compost Methods
                </button>
            </h2>
            <div id="manure" class="accordion-collapse collapse" data-bs-parent="#accordionAnalysis">
                <div class="accordion-body">
                    <p><strong>Containers: </strong>Submit fresh samples in plastic containers.</p>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 700 && x.Id < 800))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#plant" aria-expanded="false" aria-controls="plant">
                    Plant Methods
                </button>
            </h2>
            <div id="plant" class="accordion-collapse collapse" data-bs-parent="#accordionAnalysis">
                <div class="accordion-body">
                    <h3>Method Summaries</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Category == "Plant"))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#feed" aria-expanded="false" aria-controls="feed">
                    Feed Methods
                </button>
            </h2>
            <div id="feed" class="accordion-collapse collapse" data-bs-parent="#accordionAnalysis">
                <div class="accordion-body">
                    <h3>Method Summaries</h3>
                    <ul>
                        @foreach (var method in Model.Where(x => x.Id >= 600 && x.Id < 700))
                        {
                            <li><a class="internal-link" target="_self" asp-controller="Analysis" asp-action="Details" asp-route-category="@method.Category" asp-route-id="@method.Id">@method.Id - @method.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
