@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Order Confirmed";
}

@section ActionButtons
{
<p>
    <a asp-action="Index" class="btn btn-default">Back to Orders</a>
    <form asp-action="Copy" asp-controller="Order" method="post" autocomplete="off" style="margin-right: 3px; margin-left: 3px">
        <input type="hidden" name="id" value="@Model.Order.ShareIdentifier" />
        <button type="submit" class="btn btn-primary" aria-hidden="true"><i class="fa fa-files-o" aria-hidden="true"></i> Duplicate</button>
    </form>
    <a href="#" class="btn btn-default" type="button" onclick="window.print()">Print this page</a>
</p>
}

<div>
    <div class="alert alert-danger noprint">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><h2>Please print this page and include a copy with the samples.</h2>  <div style="display: flex; "><a href="#" class="btn btn-default" type="button" onclick="window.print()">Print this page</a></div></div>        

    </div>
    <div class="row">
      <div class="col-6">
         <p>Thank you for placing a work request order with the UC Davis Analytical Laboratory.
            Below is a summary of the tests you requested and an estimate of your charges.
            <strong>
            Please print this page and include a copy with the samples.
            </strong>
         </p>
         <p>You will be billed when the work has been completed.</p>
         <div class="form-group">
            <strong>Online Order Number:</strong>
            <span>@Model.Order.Id</span>
         </div>
         @if (Model.Order.ClientId != null)
         {
             <div class="form-group">
                 <h4>Client Info</h4>
                 <strong>ID:</strong>
                 <span>@Model.Order.ClientId</span>
                 <br />
                 <strong>Name:</strong>
                 <span>@Model.OrderDetails.ClientInfo.Name</span>                 
                 @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.ClientInfo.Department))
                 {
                     <br />
                     <strong>Department/Unit:</strong>
                     <span>@Model.OrderDetails.ClientInfo.Department</span>
                 }
                 @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.ClientInfo.Email))
                 {
                     <br />
                     <strong>Email:</strong>
                     <span>@Model.OrderDetails.ClientInfo.Email</span>
                 }

                 @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.ClientInfo.PhoneNumber))
                 {
                     <br/>
                     <strong>Phone:</strong>
                     <span>@Model.OrderDetails.ClientInfo.PhoneNumber</span>
                 }
             </div>
         }
         else
         {
         <div class="form-group">
            <h4>New Client Info</h4>
            <strong>Client Name:</strong>
            <span>@Model.OrderDetails.ClientInfo.Name</span>
            <br />
            <strong>Employer:</strong>
            <span>@Model.OrderDetails.ClientInfo.Employer</span>
             <br />
             <strong>Department/Unit:</strong>
             <span>@Model.OrderDetails.ClientInfo.Department</span>
             <br />
            <strong>Email:</strong>
            <span>@Model.OrderDetails.ClientInfo.Email</span>
            <br />
            <strong>Phone Number:</strong>
             <span>@Model.OrderDetails.ClientInfo.PhoneNumber</span>
             <br />
             <strong>PI Name:</strong>
             <span>@Model.OrderDetails.ClientInfo.PiName</span>
             <br />
             <strong>PI Email:</strong>
             <span>@Model.OrderDetails.ClientInfo.PiEmail</span>
         </div>
         }
          <div class="form-group">
              <h4>Submitter Info:</h4>
              <strong>Name:</strong><span> @Model.Order.Creator.Name</span><br/>
              <strong>Email:</strong><span> @Model.Order.Creator.Email</span><br/>
              <strong>Phone:</strong><span> @Model.Order.Creator.Phone</span>
          </div>
          <div class="form-group">
              <strong>Payment Method:</strong>
              @if (string.Equals(Model.OrderDetails.Payment.ClientType, "uc", StringComparison.OrdinalIgnoreCase))
              {
                  <span>UC Account: @Model.OrderDetails.Payment.Account</span>
                  @if(!string.IsNullOrWhiteSpace(Model.OrderDetails.Payment.AccountName))
                   {
                       <span> (@Model.OrderDetails.Payment.AccountName)</span>
                   }
              }
              else if (string.Equals(Model.OrderDetails.Payment.ClientType, "creditcard", StringComparison.OrdinalIgnoreCase))
              {
                  <span>Credit Card</span>
              }
              else
              {
                  <span>Other</span>
              }
          </div>
         <div class="form-group">
            <strong>Project Title / Location:</strong>
            <span>@Model.Order.Project</span>
         </div>
         @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.Commodity))
         {
         <div class="form-group">
            <strong>Commodity</strong>
            <span>@Model.OrderDetails.Commodity</span>
         </div>
         }
          <div class="form-group">
              <strong>Date Sampled</strong>
              <span>@Model.OrderDetails.DateSampled.ToLongDateString()</span>
          </div>
          <div class="form-group">
              <strong>Sample Disposition</strong>
              <span>@Model.OrderDetails.SampleDisposition</span>
          </div>
         <div class="form-group">
            <strong>Number of Samples Submitted:</strong>
            <span>@Model.OrderDetails.Quantity</span>
         </div>
      </div>
      <div class="col-6 onlyPrint">
         <div class="pull-right">
            <img style="width: 350px; height: 350px;"  src="/images/lab-only-section.png" alt="lab use only section" />
         </div>
      </div>
   </div>
   @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.AdditionalInfo))
   {
   <div class="form-group">
      <strong>Comments, special test requests and missing samples</strong>
      <div class="well well-sm" style="white-space: pre-wrap">@Html.Raw(Html.Encode(Model.OrderDetails.AdditionalInfo))</div>
   </div>
   }
   <p>
      The following estimate of charges is based on routine testing.  Should non-routine testing be required you will be contacted to discuss any additional costs.
   </p>
   <table id="t" class="avoidBreak" >
      <thead>
         <tr>
            <th>Test(s)</th>
            <th>Ref</th>
            <th>Per Test</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Setup Cost</th>
            <th>Test Total</th>
         </tr>
      </thead>
      <tbody>
         @foreach (var test in @Model.OrderDetails.SelectedTests)
         {
         var temp = Model.Order.GetTestDetails().Where(a => a.Id == test.Id).FirstOrDefault();
         if (Model.HideLabDetails && !temp.Public)
         {
         continue;
         }
         <tr>
            <td>@test.Analysis</td>
            <td>@temp.Sop</td>
            <td>@test.Cost.ToString("C")</td>
            <td>x @Model.OrderDetails.Quantity</td>
            <td>@test.SubTotal.ToString("C")</td>
            <td>@test.SetupCost.ToString("C")</td>
            <td>@test.Total.ToString("C")</td>
         </tr>
         }
      </tbody>
      <tfoot class="avoidBreak">
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Processing Fee</td>
            <td>
               @if (string.Equals(Model.OrderDetails.Payment.ClientType, "uc", StringComparison.OrdinalIgnoreCase))
               {
               <span>@(string.Format("{0:C}", Model.OrderDetails.InternalProcessingFee))</span>
               }
               else
               {
               <span>@(string.Format("{0:C}", Model.OrderDetails.ExternalProcessingFee))</span>
               }
            </td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Total</th>
            <th>@(string.Format("{0:C}", Model.OrderDetails.GrandTotal))</th>
         </tr>
      </tfoot>
   </table>
   <br /><br />
   <div class="row avoidBreak">
      <div class="col-6">
         <span>Work Authorized By:</span>
         <div style="width: 100%; height: 40px">&nbsp;</div>
         <div style="width: 100%; border-top: 1px solid black">
            <span>Client / Responsible Party Signature (Required)</span>
            <span class="pull-right">Date</span>
         </div>
      </div>
      <div class="col-2" style="padding-left: 4px;">
         <div class="row">
            <div>
               <input type="checkbox" /> <small>Mailed/Shipped</small>
            </div>
         </div>
         <div class="row">
            <div>
               <input type="checkbox" /> <small>Hand Delivered By:</small>
            </div>
         </div>
      </div>
      <div class="col-4">
         <span>&nbsp;</span>
         <div style="width: 100%; height: 40px">&nbsp;</div>
         <div style="width: 100%; border-top: 1px solid black">
            <span>Print Name</span>
            <span class="pull-right">Date</span>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col-6">
         <address>
            <strong>Submit Samples to:</strong><br>
            <strong>UC Davis Analytical Lab</strong><br>
            Hoagland Annex<br>
            University of California<br>
            One Shields Avenue<br>
            Davis, CA 95616-5270
         </address>
      </div>
      <div class="col-6">
         <address>
            <strong>UC Davis Analytical Lab</strong><br>
            Office Phone: 530-752-0147<br>
            Receiving Phone: 530-752-0266<br>
            Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a>
         </address>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="noprint">
            <a asp-action="Index" class="btn btn-default">Back to Orders</a>
            <a href="#" class="btn btn-default" type="button" onclick="window.print()">Print this page</a>
         </div>
      </div>
   </div>
</div>

@section AdditionalStyles
{
    <style media="print">
        .noprint {
            display: none !important;
        }

        .avoidBreak {
            page-break-inside: avoid;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        /* This prevents the table header from printing twice on the same page and over top of the table details */
        thead {
            display: table-row-group;
        }

        th {
            padding: 5px;
            padding-top: 20px;
        }
        td {
            padding: 5px;
        }

        #links a:after{
            content: " (" attr(href) ")";
        }

        .footer_contents, .navbar, .head_bleed, footer, header, .title-right{
            display: none !important;
        }

        .pagetitle_banner {
            margin-bottom: 5px !important;
            padding: 0 0 0 0 !important;
        }
        .pagetitle_banner_contents {
            height: auto !important;
        }

        body, .whiteblock, .row {
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
        }
        .boundary, .pagetitle_banner_contents {
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
            max-width: 100% !important;
            width: 100% !important;
            -webkit-flex: 100% !important;
        }
        * {
            line-height: 1.3em !important;
        }


    </style>
    <style media="screen">
        table {
            width: 100%;
        }
        th {
            padding: 5px;
        }
        td {
            padding: 5px;
        }
        .onlyPrint {
            display: none !important;
        }
    </style>
}

