@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Order Confirmed";
}


  <div>
    <p>Thank you for placing a work request order with the UC Davis Analytical Laboratory.
    Below is a summary of the tests you requested and an estimate of your charges.
        <strong>
            Please print this page and include a copy with the samples
        </strong>
    </p>

    <p>You will be billed when the work has been completed.</p>

    <div class="form-group">
        <strong>Online Order Number:</strong>
        <span>@Model.Order.Id</span>
    </div>

    @if (Model.Order.ClientId != null)
    {
        <div class="form-group">
            <strong>Client ID:</strong>
            <span>@Model.Order.ClientId</span>
        </div>
    }
    else
    {
        <div class="form-group">
            <h4>New Client Info</h4>
            <strong>Client Name:</strong>
            <span>@Model.OrderDetails.NewClientInfo.Name</span>
            <br />
            <strong>Employer:</strong>
            <span>@Model.OrderDetails.NewClientInfo.Employer</span>
            <br />
            <strong>Email:</strong>
            <span>@Model.OrderDetails.NewClientInfo.Email</span>
            <br />
            <strong>Phone Number:</strong>
            <span>@Model.OrderDetails.NewClientInfo.PhoneNumber</span>
        </div>
    }

    <div class="form-group">
        <strong>Project Title / Location:</strong>
        <span>@Model.Order.Project</span>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.OrderDetails.Commodity))
    {
        <div class="form-group">
            <strong>Commodity</strong>
            <span>@Model.OrderDetails.Commodity</span>
        </div>
    }
    <div class="form-group">
        <strong>Number of Samples Submitted:</strong>
        <span>@Model.OrderDetails.Quantity</span>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.OrderDetails.AdditionalInfo))
    {
    <div class="form-group">
        <strong>Comments, special test requests and missing samples</strong>
        <div class="well well-sm" style="white-space: pre-wrap">@Html.Raw(Html.Encode(Model.OrderDetails.AdditionalInfo))</div>
    </div>}

    <div class="form-group">
        <strong>Payment Method:</strong>
        @if (string.Equals(Model.OrderDetails.Payment.ClientType, "uc", StringComparison.OrdinalIgnoreCase))
        {
            <span>UC Account: @Model.OrderDetails.Payment.Account</span>
            @if(!string.IsNullOrWhiteSpace(Model.OrderDetails.Payment.AccountName))
             {
                 <span> (@Model.OrderDetails.Payment.AccountName)</span>
             }
        }
        else if (string.Equals(Model.OrderDetails.Payment.ClientType, "creditcard", StringComparison.OrdinalIgnoreCase))
        {
            <span>Credit Card</span>
        }
        else
        {
            <span>Other</span>
        }

    </div>

    <p>
        The following estimate of charges is based on routine testing.  Should non-routine testing be required you will be contacted to discuss any additional costs.
    </p>

    <table id="t">
        <thead>
            <tr>
                <th>Analysis</th>
                <th>Sop</th>
                <th>Per Test</th>
                <th>Quantity</th>
                <th>SubTotal</th>
                <th>Setup Cost</th>
                <th>Test Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in @Model.OrderDetails.SelectedTests)
            {
                var temp = Model.Order.GetTestDetails().Where(a => a.Id == test.Id).FirstOrDefault();
                if (Model.HideLabDetails && !temp.Public)
                {
                    continue;
                }
                <tr>
                    <td>@test.Analysis</td>
                    <td>@temp.Sop</td>
                    <td>@test.Cost.ToString("C")</td>
                    <td>x @Model.OrderDetails.Quantity</td>
                    <td>@test.SubTotal.ToString("C")</td>
                    <td>@test.SetupCost.ToString("C")</td>
                    <td>@test.Total.ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Processing Fee</td>
                <td>
                    @if (string.Equals(Model.OrderDetails.Payment.ClientType, "uc", StringComparison.OrdinalIgnoreCase))
                    {
                        <span>@(String.Format("{0:C}", Model.OrderDetails.InternalProcessingFee))</span>
                    }
                    else
                    {
                        <span>@(String.Format("{0:C}", Model.OrderDetails.ExternalProcessingFee))</span>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>Total</th>
                <th>@(String.Format("{0:C}", Model.OrderDetails.GrandTotal))</th>
            </tr>
        </tfoot>
    </table>

    <p>
        If you have any questions or need information about analytical procedures, please contact Dirk Holstege at (530) 752-0148 or at dmholstege@ucdavis.edu.
        <br />
        For specific questions about sending or preparing samples, you may call me or contact Gary Chan, Receiving Facility Manager (530) 752-0266.
        <br />
        For laboratory report copies or accounting, office personnel can be reached at (530) 752-0147 or by email at anlab@ucdavis.edu.
    </p>

    <p>
        For your convenience, information on the Lab is also available on our <a href="http://anlab.ucdavis.edu">web site</a> and I have provided links to several useful pages and documents.  We look forward to serving you.
    </p>
      <div class="noprint">
          <a asp-action="Index" class="btn btn-default">Back to Orders</a>
          <a href="#" class="btn btn-default" type="button" onclick="window.print()">Print this page</a>
      </div>
</div>



@section AdditionalStyles
{
    <style media="print">
        .noprint {
            display: none !important;
        }

        th {
            padding: 5px;
        }
        td {
            padding: 5px;
        }

        #links a:after{
            content: " (" attr(href) ")";
        }

        .footer_contents, .navbar, .head_bleed, footer, header, .title-right{
            display: none !important;
        }

        .pagetitle_banner {
            margin-bottom: 5px !important;
            padding: 0 0 0 0 !important;
        }
        .pagetitle_banner_contents {
            height: auto !important;
        }

        body, .whiteblock, .row {
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
        }
        .col-8, .boundary, .pagetitle_banner_contents {
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
            max-width: 100% !important;
            width: 100% !important;
            -webkit-flex: 100% !important;
        }
        * {
            line-height: 1.3em !important;
        }

    </style>
    <style media="screen">
        table {
            width: 100%;
        }
        th {
            padding: 5px;
        }
        td {
            padding: 5px;
        }
    </style>
}
