@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Confirmation";
}

<form asp-controller="order" asp-action="Delete" asp-route-id="@Model.Order.Id" method="post" class="form-horizontal">
    <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"> Delete Order</i></button>

</form>

@Html.Partial("_OrderDetails")

<form asp-controller="order" asp-action="Confirmation" asp-route-id="@Model.Order.Id" method="post" class="form-horizontal">
    @Html.Hidden("confirm", true)
    <button type="submit" class="btn btn-primary"><i class="fa fa-money" aria-hidden="true"> @(String.Format("{0:C}", Model.OrderDetails.Total)) Confirm and Send</i></button>    
    <a asp-action="Edit" asp-route-id="@Model.Order.Id" class="btn btn-default">Edit Order</a>
</form>


<div class="form-group">
    <strong>json Data</strong>
    <span>@Model.Order.JsonDetails</span>
</div>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable();
        });
    </script>
    
    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }
}
