@model AnlabMvc.Models.Order.OrderEditModel

@{
    ViewBag.Title = "Create New Work Request";
}
@Html.AntiForgeryToken()
<div id="react-app"></div>

<script>
    App = {};
    App.orderData = @Json.Serialize(Model); 
    App.defaultAccount = @Json.Serialize(Model.DefaultAccount);
    App.defaultEmail = @Json.Serialize(Model.DefaultEmail);
    App.defaultClientId = @Json.Serialize(Model.DefaultClientId);
</script>

<script src="~/dist/react.js" asp-append-version="true"></script>
<script src="~/dist/order.js" asp-append-version="true"></script>


@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
}
