@model AnlabMvc.Models.Order.OrderEditModel
@using Anlab.Core.Domain

@{
    ViewBag.Title = "Edit Existing Work Request";
}

@Html.AntiForgeryToken()

<div id="root" class="col"></div>

@section ScriptVariables {
    <script>
        App = {};
        App.orderData = @Json.Serialize(Model);
        App.orderId = @Model.Order.Id;
        App.defaults = @Json.Serialize(Model.Defaults);
        App.useCoa = @Json.Serialize(Model.UseCoa);
    </script>
}

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
    @{
        <script src="https://finjector.ucdavis.edu/finjector.js?v=1" type="text/javascript" asp-add-nonce="true"></script>
    }
}
