@using AnlabMvc.Models.Order
@model IList<Order>

@{
    ViewData["Title"] = "Orders";
}

<p>
    <a asp-action="Create" class="btn btn-default">Create Order</a>    
</p>


<table id="table">
    <thead>
    <tr>
        <th></th>
        <th>Created</th>
        <th>Updated</th>
        <th>Project</th>
        <th>Status</th>
        <th>Paid</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@if (order.Status == OrderStatusCodes.Created)
                {
                    <a asp-action="Confirmation" asp-route-id="@order.Id"><i class="fa fa-check"> Confirm</i></a>
                    <a asp-action="Edit" asp-route-id="@order.Id"><i class="fa fa-edit"> Edit</i></a>
                }
                else if(order.Status == OrderStatusCodes.Complete)
                {
                    <a asp-controller="Results" asp-action="Link" asp-route-id="@order.ShareIdentifier">Results</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@order.Id"><i class="fa fa-eye"> Details</i></a>
                    if (order.Status == OrderStatusCodes.Accepted && !order.Paid)
                    {
                        <a asp-controller="Payment" asp-action="Pay" asp-route-id="@order.ShareIdentifier"><i class="fa fa-credit-card-alt"> Pay</i> </a>
                    }
                }
            </td>
            <td>@order.Created</td>
            <td>@order.Updated</td>
            <td>@order.Project</td>
            <td>@order.Status</td>
            <td style="text-align: center">
                @if (order.Paid)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>

                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section AdditionalStyles
{
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function() {
            $("#table").dataTable({
                "sorting": [[1, "desc"]],
                "columnDefs": [
                    {
                        "type": "date", "targets" : [1,2]
                    },
                    {
                        "targets": [0],
                        "orderable": false                        
                    },

                ]
            });
        });
    </script>
}