@using Anlab.Core.Models
@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

<div class="space_between border-bottom">
    <div class="row no-margin">
        <div class="form-group no-margin detail-bumper">
            <h4>Created By</h4>
            <p>@Model.Order.Creator.Name</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Project</h4>
            <p>@Model.Order.Project</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Quantity</h4>
            <p>@Model.OrderDetails.Quantity</p>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Order.RequestNum)) {
        <div class="row no-margin">
            <div class="form-group no-margin">
                <h4>Request Num</h4>
                <p>@Model.Order.RequestNum</p>
            </div>
        </div>
    }

</div>
@if (!String.IsNullOrWhiteSpace(Model.OrderDetails.Commodity))
{
    <div class="form-group">
        <strong>Commodity</strong>
        <span>@Model.OrderDetails.Commodity</span>
    </div>

}

@if (Model.OrderDetails.AdditionalEmails.Length > 0)
{
    <div class="form-group">
        <strong>Additional Emails</strong>
        <span><a href="mailto:@Model.Order.AdditionalEmails">@Model.Order.AdditionalEmails</a></span>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.OrderDetails.AdditionalInfo)) {
    <div class="form-group">
        <strong>Additional Info</strong>
        <div class="well well-sm" style="white-space: pre;">@Model.OrderDetails.AdditionalInfo</div>
    </div>
}
<div class="form-group">
    <strong>Sample Type</strong>
    <span>@Model.OrderDetails.SampleType</span>
</div>

<div class="form-group">
    <strong>Payment Method</strong>
    @if(Model.Order.PaymentType != PaymentTypeCodes.CreditCard)
    {
        <span>UC Account: @Model.OrderDetails.Payment.Account</span>
    }
    else
    {
        <span>Credit Card</span>
    }

@if (!String.IsNullOrWhiteSpace(Model.OrderDetails.LabComments))
{
    <div class="form-group">
        <strong>Lab Comments</strong>
        <div class="well well-sm" style="white-space: pre">@Model.OrderDetails.LabComments</div>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>Analysis</th>
        <th>Code</th>
        <th>Price 
            <i class="analysisTooltip fa fa-info-circle"
               aria-hidden="true"
               data-toggle="tooltip"
               title="Fee Per Sample * Quantity"
               data-container="table" />
        </th>
        <th>Setup</th>
        <th>Total 
            <i class="analysisTooltip fa fa-info-circle"
               aria-hidden="true"
               data-toggle="tooltip"
               title="Price + Setup"
               data-container="table" />
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var test in @Model.OrderDetails.SelectedTests)
    {
        var temp = Model.Order.GetTestDetails().Where(a => a.Id == test.Id).FirstOrDefault();
        if (Model.HideLabDetails && !temp.Public)
        {
            continue;
        }
        <tr>
            <td>
                @test.Analysis
                @if (temp != null && !String.IsNullOrEmpty(temp.Notes))
                {
                    <i class="analysisTooltip fa fa-info-circle" onshow="renderTitle('@temp.Notes')" title="@temp.Notes" aria-hidden="true" data-toggle="tooltip" data-html="true"></i>
                }
            </td>
            <td>@test.Id</td>
            <td>@test.SubTotal.ToString("C")</td>
            <td>@test.SetupCost.ToString("C")</td>
            <td>@test.Total.ToString("C")</td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>Processing Fee</th>
            <td colSpan="3" />
            <td>
            @if (Model.OrderDetails.Payment.IsInternalClient)
            {
                <span>@(String.Format("{0:C}", Model.OrderDetails.InternalProcessingFee))</span>
            }
            else
            {
                <span>@(String.Format("{0:C}", Model.OrderDetails.ExternalProcessingFee))</span>
            }</td>
        </tr>
        @if (Model.OrderDetails.AdjustmentAmount != 0)
        {
            <tr>
                <th>Adjustment Amount</th>
                <td colSpan="3" />
                <td><span>@(String.Format("{0:C}", Model.OrderDetails.AdjustmentAmount))</span></td>
            </tr>

        }
        <tr>
            <th>Total Amount</th>
            <td colSpan="3" />
            <td><span>@(String.Format("{0:C}", Model.OrderDetails.GrandTotal))</span></td>
        </tr>
    </tfoot>
</table>


@if (ViewBag.Public != null && ViewBag.Public)
{
    if (Model.Order.Status == OrderStatusCodes.Finalized && !Model.Order.Paid)
    {
        if (Model.Order.PaymentType == PaymentTypeCodes.CreditCard)
        {
            <a asp-controller="Payment" asp-action="Pay" asp-route-id="@Model.Order.ShareIdentifier" class="btn btn-group-lg"><i class="fa fa-credit-card-alt"> Pay</i> </a>
        }

    }
}
