@using Anlab.Core.Models
@using AnlabMvc.Extensions
@using AnlabMvc.Models.Roles
@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

<div class="space_between border-bottom">
    <div class="row no-margin">
        <div class="form-group no-margin detail-bumper">
            <h4>Id</h4>
            <p>@Model.Order.Id</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Created By</h4>
            <p>@Model.Order.Creator.Name</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Project</h4>
            <p title="@Model.Order.Project" class="showTooltip">@Model.Order.Project.MaxLength(45)</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Quantity</h4>
            <p>@Model.OrderDetails.Quantity</p>
        </div>
        <div class="form-group no-margin detail-bumper">
            <h4>Status</h4>
            <p>@Model.Order.Status</p>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Order.RequestNum)) {
        <div class="row no-margin">
            <div class="form-group no-margin">
                <h4>WR Num</h4>
                <p>@Model.Order.RequestNum</p>
            </div>
        </div>
    }
    @if (User != null && User.IsInRole(RoleCodes.Admin) )
    {
        <div class="row no-margin">
            <div class="form-group no-margin">
                <h4>Admin Actions</h4>
                <p><a asp-controller="Lab" asp-action="OverrideOrder" asp-route-id="@Model.Order.Id">Override</a></p>
                <p><a asp-controller="Admin" asp-action="MailQueue" asp-route-id="@Model.Order.Id" target="_blank">View Emails</a></p>
            </div>
        </div>
    }

</div>
@if (!String.IsNullOrWhiteSpace(Model.OrderDetails.Commodity))
{
    <div class="form-group">
        <strong>Commodity</strong>
        <span>@Model.OrderDetails.Commodity</span>
    </div>

}

<div class="form-group">
    <strong>Date Sampled</strong>
    <span>@Model.OrderDetails.DateSampled.ToShortDateString()</span>
</div>
<div class="form-group">
    <strong>Sample Disposition</strong>
    <span>
        @Model.OrderDetails.SampleDisposition
        @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.LabworksSampleDisposition) && (User != null && User.IsInRole(RoleCodes.Admin)))
        {
            <span> (<strong>LabCode:</strong> @Model.OrderDetails.LabworksSampleDisposition)</span>
        }
    </span>
</div>

@if (Model.Order.AdditionalEmails.Length > 0)
{
    <div class="form-group">
        <strong>Additional Emails</strong>
        <span><a href="mailto:@Model.Order.AdditionalEmails">@Model.Order.AdditionalEmails</a></span>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.OrderDetails.AdditionalInfo)) {
    <div class="form-group">
        <strong>Additional Info</strong>
        <div class="well well-sm" style="white-space: pre-wrap">@Model.OrderDetails.AdditionalInfo</div>
    </div>
}
<div class="form-group">
    <strong>Sample Type</strong>
    <span>@Model.OrderDetails.SampleType</span>
</div>

<div class="form-group">
    <strong>Payment Method</strong>
    @if (Model.Order.PaymentType == PaymentTypeCodes.CreditCard)
    {
        <span>Credit Card</span>
    }

    @if (Model.Order.PaymentType == PaymentTypeCodes.Other)
    {
        <span>Other Payment (@Model.OrderDetails.OtherPaymentInfo.PaymentType)</span><br />
        <strong>Company Name: </strong><span>@Model.OrderDetails.OtherPaymentInfo.CompanyName</span><br />
        <strong>Account Contact Name: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcName</span><br />
        <strong>Account Contact Address: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcAddr</span><br />
        <strong>Account Contact Email: </strong><span><a href="mailto:@Model.OrderDetails.OtherPaymentInfo.AcEmail">@Model.OrderDetails.OtherPaymentInfo.AcEmail</a></span><br />
        <strong>Account Contact Phone Number: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcPhone</span><br />
        <strong>PO Number: </strong><span>@Model.OrderDetails.OtherPaymentInfo.PoNum</span>
    }
    @if (Model.Order.PaymentType == PaymentTypeCodes.UcOtherAccount)
    {
        <span>UC Account: @Model.OrderDetails.Payment.Account</span><br/>
        <strong>Campus Name: </strong><span>@Model.OrderDetails.OtherPaymentInfo.CompanyName</span><br />
        <strong>Account Contact Name: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcName</span><br />
        <strong>Account Contact Address: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcAddr</span><br />
        <strong>Account Contact Email: </strong><span><a href="mailto:@Model.OrderDetails.OtherPaymentInfo.AcEmail">@Model.OrderDetails.OtherPaymentInfo.AcEmail</a></span><br />
        <strong>Account Contact Phone Number: </strong><span>@Model.OrderDetails.OtherPaymentInfo.AcPhone</span>
    }
    @if (Model.Order.PaymentType == PaymentTypeCodes.UcDavisAccount)
    {
        <span>UC Davis Account: @Model.OrderDetails.Payment.Account</span>
        @if (!string.IsNullOrWhiteSpace(Model.OrderDetails.Payment.AccountName))
        {
            <span> (@Model.OrderDetails.Payment.AccountName)</span>

        }
    }
</div>

@if (!String.IsNullOrWhiteSpace(Model.OrderDetails.LabComments))
{
    <div class="form-group">
        <strong>Lab Comments</strong>
        <div class="well well-sm" style="white-space: pre-wrap">@Model.OrderDetails.LabComments</div>
    </div>
}

@if (Model.OrderDetails.RushMultiplier.HasValue && Model.OrderDetails.RushMultiplier.Value > 1)
{
    <div class="form-group">
        <strong>RUSH</strong>
        <span>This order is a rush and has the cost increased by a factor of @Model.OrderDetails.RushMultiplier</span>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>Analysis</th>
        <th>
            @if(Model.HideLabDetails)
            {
                @:SOP
            }
            else
            {
                @:Code
            }
        </th>
        <th>Price 
            <i class="analysisTooltip fa fa-info-circle"
               aria-hidden="true"
               data-toggle="tooltip"
               title="Fee Per Sample * Quantity" />
        </th>
        <th>Setup</th>
        <th>Total 
            <i class="analysisTooltip fa fa-info-circle"
               aria-hidden="true"
               data-toggle="tooltip"
               title="Price + Setup" />
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var test in @Model.OrderDetails.SelectedTests)
    {
        var temp = Model.Order.GetTestDetails().Where(a => a.Id == test.Id).FirstOrDefault();
        if (Model.HideLabDetails && !temp.Public)
        {
            continue;
        }
        <tr>
            <td>
                @test.Analysis
                @if (temp != null && !String.IsNullOrEmpty(temp.Notes))
                {
                    <i class="analysisTooltip fa fa-info-circle" onshow="renderTitle('@temp.Notes')" title="@temp.Notes" aria-hidden="true" data-toggle="tooltip" data-html="true"></i>
                }
            </td>
            <td>
                @if (Model.HideLabDetails)
                {
                    <a asp-controller="Analysis" asp-action="@Model.OrderDetails.SampleType" asp-route-id="@temp.Sop" target="_blank">@temp.Sop</a>
                }
                else
                {
                    @test.Id

                }
            </td>
            <td>@test.SubTotal.ToString("C")</td>
            <td>@test.SetupCost.ToString("C")</td>
            <td>@test.Total.ToString("C")</td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>Processing Fee</th>
            <td colSpan="3" />
            <td>
            @if (Model.OrderDetails.Payment.IsInternalClient)
            {
                <span>@(String.Format("{0:C}", Model.OrderDetails.InternalProcessingFee))</span>
            }
            else
            {
                <span>@(String.Format("{0:C}", Model.OrderDetails.ExternalProcessingFee))</span>
            }</td>
        </tr>
        @if (Model.OrderDetails.AdjustmentAmount != 0)
        {
            <tr>
                <th>Adjustment Amount</th>
                <td colSpan="3" />
                <td><span>@(String.Format("{0:C}", Model.OrderDetails.AdjustmentAmount))</span></td>
            </tr>

        }
        <tr>
            <th>Total Amount</th>
            <td colSpan="3" />
            <th><span>@(String.Format("{0:C}", Model.OrderDetails.GrandTotal))</span></th>
        </tr>
    </tfoot>
</table>



