@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@using AnlabMvc.Helpers
@using AnlabMvc.Models.Roles
<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ME0HQ36EH9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ME0HQ36EH9');
</script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <react-styles />
    <link rel="shortcut icon" href="/media/favicon.ico">
    @RenderSection("AdditionalStyles", required: false)
</head>
<body>
    <header>
        @if(Configuration["Environment:ShowTestBanner"] == "Yes"){
            <h1 style="background-color: red; text-align: center; color: white">-----------!!! TEST SITE -- TEST SITE -- TEST SITE !!! -----------</h1>
        }
        <div class="header_contents">
            <div class="logo_wrapper">
                <a href="https://anlab.ucdavis.edu"><img class="img-respo" src="/media/UCDavis_AnalyticalLaboratory_RGB.png" alt=""></a>
            </div>
            <div class="login_wrapper">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="head_bleed">
        <div class="head_divider">
            <div class="button_wrapper">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse boundary">
                <ul class="nav navbar-nav" style="margin-left:-25px;">
                    <li><a asp-controller="Analysis" asp-action="Index">Testing Services</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders / Browse Prices <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Order" asp-action="Index">Your Orders</a></li>
                            <li><a asp-controller="Order" asp-action="Favorites">Saved Orders</a></li>
                            <li><a asp-controller="Order" asp-action="Create">Create Order</a></li>
                            <li><a asp-controller="Order" asp-action="Create" asp-route-browsePrices=true>Browse Prices</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="Profile" asp-action="Edit" title="Manage">Edit Profile</a></li>
                        </ul>
                    </li>
                    @if (User != null && (User.IsInRole(RoleCodes.Admin) || User.IsInRole(RoleCodes.LabUser)))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Lab" asp-action="Orders">Orders</a></li>
                                <li><a asp-controller="Admin" asp-action="ListClients">Clients</a></li>
                                @if (User.IsInRole(RoleCodes.Admin))
                                {
                                    <li><a asp-controller="Admin" asp-action="Index">Admin Users</a></li>
                                }
                                <li><a asp-controller="Lab" asp-action="DisposalList">Disposal List</a></li>
                                <li><a asp-controller="Admin" asp-action="MailQueue" asp-route-allFailed="true">Mail Failures</a></li>

                                @if (User.IsInRole(RoleCodes.Admin))
                                {
                                    <li class="divider"></li>
                                    <li><a asp-controller="TestItems" asp-action="Index">Test Codes</a></li>
                                    <li><a asp-controller="AdminAnalysis" asp-action="Index">Method Summaries</a></li>
                                    <li><a asp-controller="Alerts" asp-action="Index">System Alerts</a></li>
                                    <li class="divider"></li>
                                }
                                <li><a href="https://caeshelp.ucdavis.edu/?appname=Anlab" target="_blank">Technical Support</a></li>
                                <li><a asp-controller="Lab" asp-action="Search">Search Order</a></li>
                            </ul>
                        </li>
                    }
                    @if (User != null && (User.IsInRole(RoleCodes.Admin) || User.IsInRole(RoleCodes.Reports)))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reviewers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Reviewer" asp-action="Index">Review Orders</a></li>
                                <li><a asp-controller="Reviewer" asp-action="Totals">Totals</a></li>
                                <li><a asp-controller="Reviewer" asp-action="Adjustments">Adjustments</a></li>
                                <li><a asp-controller="Reviewer" asp-action="EmailList">Email Report</a> </li>
                                <li><a asp-controller="Reviewer" asp-action="OrdersWithSkippedFinalEmail">Orders with Skipped Emails</a> </li>
                                <li class="divider"></li>
                                <li><a asp-controller="Reviewer" asp-action="HistoricalSales">Historical Sales</a></li>
                            </ul>
                        </li>
                    }
                    @if (Configuration["Environment:ShowTestBanner"] == "Yes")
                    {
                        <li><a href="https://anlab.sf.ucdavis.edu/contact-us">Contact</a></li>
                    }
                    else
                    {
                        <li><a href="https://anlab.ucdavis.edu/contact-us">Contact</a></li>
                    }
                </ul>
            </div>
        </div>
    </div> <!-- head bleed-->
    </div>
    <div class="pagetitle_banner">
        <div class="pagetitle_banner_contents">
            <div class="title-left"><h1>@ViewData["Title"]</h1></div>
            <div class="title-right">
                @RenderSection("ActionButtons", required: false)
            </div>

        </div>
    </div>
    <div class="boundary">
        @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["ErrorMessage"]
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["Message"]
            </div>
        }
        <div class="row whiteblock">
            @RenderBody()
        </div>

    </div>
    <footer>
        <div class="footer_contents">
            <p class="discreet">
                &copy; The Regents of the University of California, Davis campus, 2017-@(DateTime.UtcNow.Date.ToString("yy")).
            </p>
            <p class="discreet">Version: @VersionFinder.Version </p>
        </div>
    </footer>

    @RenderSection("ScriptVariables", required: false)

    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    </environment>

    <react-scripts />

    @RenderSection("Scripts", required: false)
</body>
</html>
